cachetools==4.2.0
certifi==2020.12.5
chardet==3.0.4
et-xmlfile==1.0.1
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
jdcal==1.4.1
numpy==1.19.3
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.5
pandas==1.1.5
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygsheets==2.0.3.1
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
requests-oauthlib==1.3.0
rsa==4.6
selenium==3.141.0
six==1.15.0
uritemplate==3.0.1
urllib3==1.26.2
XlsxWriter==1.3.7
loguru~=0.5.3
fuzzywuzzy~=0.18.0
instabot~=0.117.0